/* Appearance */

.appearance-none    { appearance: none; }
.appearance-normal  { appearance: normal; }
.appearance-window  { appearance: window; }
.appearance-button  { appearance: button; }
.appearance-menu    { appearance: menu; }
.appearance-field   { appearance: field; }
