/* List Style */

.ls-none    { list-style-type: none; }
.ls-disc    { list-style-type: disc; }
.ls-circle  { list-style-type: circle; }
.ls-square  { list-style-type: square; }
.ls-decimal { list-style-type: decimal; }
