/* Transform origin */

.to-top    { transform-origin: center top; }
.to-right  { transform-origin: center right; }
.to-bottom { transform-origin: center bottom; }
.to-left   { transform-origin: center left; }
