//
// Grid
// -------------------------

// Variables
// -------------------------

$grid-gutter: 60px;

.u-grid {
  margin-top: -$grid-gutter;
  margin-left: -$grid-gutter;
  @extend .u-cf;
  
  > div {
    @extend .o-float--left;
    margin-top: $grid-gutter;
    margin-left: $grid-gutter;
  }
  
  &.u-grid--1 > div {
    width: calc(100% - #{$grid-gutter});
  }

  &.u-grid--2 > div {
    width: calc(50% - #{$grid-gutter});
  }

  &.u-grid--3 > div {
    width: calc(33.3333% - #{$grid-gutter});
  }

  &.u-grid--4 > div {
    width: calc(25% - #{$grid-gutter});
  }

  &.u-grid--5 > div {
    width: calc(20% - #{$grid-gutter});
  }
  
  &.u-grid--6 > div {
    width: calc(16.6666% - #{$grid-gutter});
  }
  
  &.u-grid--7 > div {
    width: calc(14.2857% - #{$grid-gutter});
  }
}