//
// Grid
// -------------------------

// Variables
// -------------------------

$gridGutter: 40px;

// Grid
// -------------------------

.grid--1,
.grid--2,
.grid--3,
.grid--4,
.grid--5,
.grid--6,
.grid--7,
.grid--8,
.grid--9,
.grid--10 {
  @extend .u-cf;
  margin-top: -$gridGutter;
  margin-left: -$gridGutter;
}

// Equal width cells
// -------------------------

.grid-cell {
  @extend .float-left;
  padding-top: $gridGutter;
  padding-left: $gridGutter;
}

// Equal width cells
// -------------------------

.grid--1 > .grid-cell   { width: 100%; }
.grid--2 > .grid-cell   { width: 50%; }
.grid--3 > .grid-cell   { width: 33.3333%; }
.grid--4 > .grid-cell   { width: 25%; }
.grid--5 > .grid-cell   { width: 20%; }
.grid--6 > .grid-cell   { width: 16.6666%; }
.grid--7 > .grid-cell   { width: 14.2857%; }
.grid--8 > .grid-cell   { width: 12.5%; }
.grid--9 > .grid-cell   { width: 11.1111%; }
.grid--10 > .grid-cell  { width: 10%; }

@include bp(m) {
  .bpm-grid--1 > .grid-cell   { width: 100%; }
  .bpm-grid--2 > .grid-cell   { width: 50%; }
  .bpm-grid--3 > .grid-cell   { width: 33.3333%; }
  .bpm-grid--4 > .grid-cell   { width: 25%; }
  .bpm-grid--5 > .grid-cell   { width: 20%; }
  .bpm-grid--6 > .grid-cell   { width: 16.6666%; }
  .bpm-grid--7 > .grid-cell   { width: 14.2857%; }
  .bpm-grid--8 > .grid-cell   { width: 12.5%; }
  .bpm-grid--9 > .grid-cell   { width: 11.1111%; }
  .bpm-grid--10 > .grid-cell  { width: 10%; }
}