//
// Media block
// -------------------------

.media {
  @extend .u-cf;
}

.media-img {
  @extend .o-float--left;
  margin-right: 10px;
  > img {
    @extend .o-display--block;
  }
}

.media-imgExt {
  @extend .o-float--right;
  margin-left: 10px;
  margin-right: 0;
}

.media-body {
  @extend .u-cf;
}