//
// Page Wrap
// -------------------------

// Wrap a piece of content in a horizontally
// centered container.

// Variables
// -------------------------

$pageWrapWidth: 90%;
$pageWrapMinWidth: 1000px;
$pageWrapMaxWidth: 1000px;

// Utility
// -------------------------

.u-pageWrap {
  width: $pageWrapWidth;
  min-width: $pageWrapMinWidth;
  max-width: $pageWrapMaxWidth;
  @extend .u-centered;
}