//
// Page Wrap
// -------------------------

// Wrap a piece of content in a horizontally
// centered container.

// Variables
// -------------------------

$pageWrap-width: 90%;
$pageWrap-minWidth: 1000px;
$pageWrap-maxWidth: 1000px;

// Utility
// -------------------------

.u-pageWrap {
  width: $pageWrap-width;
  min-width: $pageWrap-minWidth;
  max-width: $pageWrap-maxWidth;
  @extend .u-centered;
}