//
// Vertically center
// -------------------------

// Center an element vertically. This works with variable heights.

.u-verticallyCenter {
  @extend position--relative;
  top: 50%;
  transform : translateY(-50%);
}