//
// Appearance
// -------------------------

.o-appearance--none   { appearance: none; }
.o-appearance--normal { appearance: normal; }
.o-appearance--window { appearance: window; }
.o-appearance--button { appearance: button; }
.o-appearance--menu   { appearance: menu; }
.o-appearance--field  { appearance: field; }