//
// Backface Visibility
// -------------------------

.o-bfv--hidden  { backface-visibility: hidden; }
.o-bfv--visible { backface-visibility: visible; }
.o-bfv--inherit { backface-visibility: inherit; }