//
// Clear
// -------------------------

.o-clear--none    { clear: none; }
.o-clear--left    { clear: left; }
.o-clear--right   { clear: right; }
.o-clear--right   { clear: both; }
.o-clear--inherit { clear: inherit; }