//
// Cursor
// -------------------------

.o-cursor--default  { cursor: default; }
.o-cursor--text     { cursor: text; }
.o-cursor--pointer  { cursor: pointer; }
.o-cursor--move     { cursor: move; }
.o-cursor--inherit  { cursor: inherit; }