//
// Display
// -------------------------

.o-display--none        { display: none; }
.o-display--block       { display: block; }
.o-display--inline      { display: inline; }
.o-display--inlineBlock { display: inline-block; }
.o-display--inlineTable { display: inline-table; }
.o-display--table       { display: table; }
.o-display--tableCell   { display: table-cell; }
.o-display--tableColumn { display: table-column; }
.o-display--tableRow    { display: table-row; }