//
// Font Style
// -------------------------

.o-fontStyle--normal   { font-style: normal; }
.o-fontStyle--italic   { font-style: italic; }
.o-fontStyle--oblique  { font-style: oblique; }
.o-fontStyle--inherit  { font-style: inherit; }