//
// Font Size
// -------------------------

.o-fs--Xxl  { font-size: 46px; }
.o-fs--Xl   { font-size: 32px; }
.o-fs--l    { font-size: 24px; }
.o-fs--m    { font-size: 16px; }
.o-fs--s    { font-size: 14px; }
.o-fs--Xs   { font-size: 12px; }
.o-fs--Xxs  { font-size: 10px; }