//
// Font Weight
// -------------------------

.o-fw--1  { font-weight: 100; }
.o-fw--2  { font-weight: 200; }
.o-fw--3  { font-weight: 300; }
.o-fw--4  { font-weight: 400; }
.o-fw--5  { font-weight: 500; }
.o-fw--6  { font-weight: 600; }
.o-fw--7  { font-weight: 700; }
.o-fw--8  { font-weight: 800; }
.o-fw--9  { font-weight: 900; }