//
// Font Style
// -------------------------

.o-fs--normal   { font-style: normal; }
.o-fs--italic   { font-style: italic; }
.o-fs--oblique  { font-style: oblique; }
.o-fs--inherit  { font-style: inherit; }