//
// Outline Style
// -------------------------

.o-os--none     { outline-style: none; }
.o-os--dotted   { outline-style: dotted; }
.o-os--dashed   { outline-style: dashed; }
.o-os--solid    { outline-style: solid; }
.o-os--double   { outline-style: double; }
.o-os--groove   { outline-style: groove; }
.o-os--ridge    { outline-style: ridge; }
.o-os--inset    { outline-style: inset; }
.o-os--outset   { outline-style: outset; }
.o-os--inherit  { outline-style: inherit; }