//
// Outline Style
// -------------------------

.o-outlineStyle--none     { outline-style: none; }
.o-outlineStyle--dotted   { outline-style: dotted; }
.o-outlineStyle--dashed   { outline-style: dashed; }
.o-outlineStyle--solid    { outline-style: solid; }
.o-outlineStyle--double   { outline-style: double; }
.o-outlineStyle--groove   { outline-style: groove; }
.o-outlineStyle--ridge    { outline-style: ridge; }
.o-outlineStyle--inset    { outline-style: inset; }
.o-outlineStyle--outset   { outline-style: outset; }
.o-outlineStyle--inherit  { outline-style: inherit; }