//
// Overflow
// -------------------------

.o-of--visible  { overflow: visible; }
.o-of--hidden   { overflow: hidden; }
.o-of--scroll   { overflow: scroll; }
.o-of--auto     { overflow: auto; }
.o-of--inherit  { overflow: inherit; }

// X-axis
// -------------------------

.o-ofx--visible { overflow-x: visible; }
.o-ofx--hidden  { overflow-x: hidden; }
.o-ofx--scroll  { overflow-x: scroll; }
.o-ofx--auto    { overflow-x: auto; }
.o-ofx--inherit { overflow-x: inherit; }

// Y-axis
// -------------------------

.o-ofy--visible { overflow-y: visible; }
.o-ofy--hidden  { overflow-y: hidden; }
.o-ofy--scroll  { overflow-y: scroll; }
.o-ofy--auto    { overflow-y: auto; }
.o-ofy--inherit { overflow-y: inherit; }