//
// Resize
// -------------------------

.o-resize--none       { resize: none; }
.o-resize--both       { resize: both; }
.o-resize--horizontal { resize: horizontal; }
.o-resize--vertical   { resize: vertical; }
.o-resize--inherit    { resize: inherit; }