//
// Text Decoration
// -------------------------

.o-td--none         { text-decoration: none; }
.o-td--underline    { text-decoration: underline; }
.o-td--overline     { text-decoration: overline; }
.o-td--lineThrough  { text-decoration: line-through; }
.o-td--inherit      { text-decoration: inherit; }