//
// Text Align
// -------------------------

.o-ta--left     { text-align: left; }
.o-ta--center   { text-align: center; }
.o-ta--right    { text-align: right; }
.o-ta--inherit  { text-align: inherit; }