//
// Text Overflow
// -------------------------

.o-to--clip     { text-overflow: clip; }
.o-to--ellipsis { text-overflow: ellipsis; }
.o-to--string   { text-overflow: string; }
.o-to--inherit  { text-overflow: inherit; }