//
// Text Transform
// -------------------------

.o-tt--none       { text-transform: none; }
.o-tt--capitalize { text-transform: capitalize; }
.o-tt--uppercase  { text-transform: uppercase; }
.o-tt--lowercase  { text-transform: lowercase; }
.o-tt--inherit    { text-transform: inherit; }