//
// Text Rendering
// -------------------------

.o-tr--auto       { text-rendering: auto; }
.o-tr--speed      { text-rendering: optimizeSpeed; }
.o-tr--legibility { text-rendering: optimizeLegibility; }
.o-tr--precision  { text-rendering: geometricPrecision; }
.o-tr--inherit    { text-rendering: inherit; }