//
// Text Rendering
// -------------------------

.o-tr--auto       { text-rendering: auto; }
.o-tr--speed      { text-rendering: speed; }
.o-tr--legibility { text-rendering: legibility; }
.o-tr--precision  { text-rendering: precision; }
.o-tr--inherit    { text-rendering: inherit; }