//
// Transform origin
// -------------------------

.transformOrigin--top {
  transform-origin: center top;
}

.transformOrigin--right {
  transform-origin: center right;
}

.transformOrigin--bottom {
  transform-origin: center bottom;
}

.transformOrigin--left {
  transform-origin: center left;
}