//
// Visibility
// -------------------------

.o-visibility--hidden    { visibility: hidden; }
.o-visibility--visible   { visibility: visible; }
.o-visibility--collapse  { visibility: collapse; }
.o-visibility--inherit   { visibility: inherit; }