//
// White Space
// -------------------------

.o-ws--normal   { white-space: normal; }
.o-ws--nowrap   { white-space: nowrap; }
.o-ws--pre      { white-space: pre; }
.o-ws--preLine  { white-space: pre-line; }
.o-ws--preWrap  { white-space: pre-wrap; }
.o-ws--inherit  { white-space: inherit; }