//
// Word Break
// -------------------------

.o-wb--normal   { word-break: normal; }
.o-wb--breakAll { word-break: break-all; }
.o-wb--keepAll  { word-break: keep-all; }
.o-wb--inherit  { word-break: inherit; }