//
// Border radius
// -------------------------

// Equal corners
// -------------------------

.br--l      { border-radius: 10px; }
.br--m      { border-radius: 5px; }
.br--s      { border-radius: 2px; }
.br--circle { border-radius: 50%; }

// Unequal corners
// -------------------------