//
// Color Scheme
// -------------------------

// The entire color scheme for Assembla. Colors are grouped into 5
// categories - grayscale, gray, brand, UI and transparent. In each
// category, we first define the base colors. Then we define darker
// shades or lighter tints for each of those base colors, as they
// are needed.

// Legend
// -------------------------

//  d = Dark
//  l = Light
//  x = Extra

// Brand Colors
// -------------------------

$brand-1: #00a85f;

// Grayscale Colors
// -------------------------

$white: #fff;
$black: #000;

// Gray Colors
// -------------------------

$gray-1: lighten(#213040, 5%);
$gray-2: #748496;
$gray-3: #9aa5b2;
$gray-4: #dcdfe4;
$gray-5: #f6f7f8;

// UI Colors
// -------------------------

$ui-positive: #2ED766;
$ui-link: #0AA3F3;
$ui-warning: #f0a800;
$ui-negative: #FF5762;
$ui-soft: #ecfbfd;

// Transparency
// -------------------------

$transparent-white: rgba(255,255,255,.5);
$transparent-black: rgba(0,0,0,.5);