//
// Font Size
// -------------------------

.fs--xxl  { font-size: 50px; }
.fs--xl   { font-size: 34px; }
.fs--l    { font-size: 26px; }
.fs--m    { font-size: 18px; }
.fs--s    { font-size: 16px; }
.fs--xs   { font-size: 14px; }
.fs--xxs  { font-size: 12px; }