//
// Font Size
// -------------------------

.fs--Xxl  { font-size: 46px; }
.fs--Xl   { font-size: 32px; }
.fs--l    { font-size: 24px; }
.fs--m    { font-size: 16px; }
.fs--s    { font-size: 14px; }
.fs--Xs   { font-size: 12px; }
.fs--Xxs  { font-size: 10px; }