//
// Variables
// -------------------------

// Media query breakpoints
// -------------------------

$bp1: 320px;
$bp2: 680px;
$bp3: 1180px;
$bp4: 1500px;
$bp5: 2000px;
$bp6: 3000px;

// Responsive breakpoints
@mixin breakpoint($point) {
  @if $point == bp1 {
    @media (min-width: $bp1) { @content; }
  }
  @else if $point == bp2 {
    @media (min-width: $bp2) { @content; }
  }
  @else if $point == bp3 {
    @media (min-width: $bp3)  { @content; }
  }
  @else if $point == bp4 {
    @media (min-width: $bp4)  { @content; }
  }
  @else if $point == bp5 {
    @media (min-width: $bp5)  { @content; }
  }
  @else if $point == bp6 {
    @media (min-width: $bp6)  { @content; }
  }
}

// Spacing
// -------------------------

$offCanvas: -99999px;