//
// Buttons
// -------------------------

// To make a button, apply a size class to a link element.
// Then define your visual style in a different class
// and apply that. The functional CSS will get added
// via a sass placeholder. Any skin styles like color,
// background color or border color should be defined in
// a separate theme.scss file.

// user-select is not supported in Opera or > IE10. We can
// use the unselectable HTML attribute to get around this:
// <button unselectable="on"></button>

// Variables
// -------------------------

$btnHeight--l: 54px;
$btnHeight--m: 46px;
$btnHeight--s: 32px;

$btnPadding--l: 54px;
$btnPadding--m: 54px;
$btnPadding--s: 54px;

// Root component
// -------------------------

/**
 * 1. Corrects inability to style clickable `input` types in iOS.
 * 5. Normalize `line-height`. For `input`, it can't be changed from `normal` in Firefox 4+.
 * 6. Prevent button text from being selectable.
 * 7. Make sure `input` will wrap text across multiple lines.
 * 8. Prevent black highlight on tap on iOS.
 */
 
%btn {
  @extend .o-display--inlineBlock;
  line-height: normal; /* 5 */
  @extend .o-td--none;
  @extend .o-os--none;
  @extend .o-va--top;
  @extend .o-cursor--pointer;
  @extend .o-appearance--none; /* 1 */
  @extend .o-us--none; /* 6 */
  @extend .o-ws--normal; /* 7 */
  @extend .u-u-preventTapHighlight; /* 7 */
}

// Button sizes
// -------------------------

.btn--l {
  @extend %btn;
  height: $btnHeight--l;
  line-height: $btnHeight--l;
  padding: 0 $btnPadding--l;
  font-size: 16px;
  @extend .round-1;
}

.btn--m {
  @extend %btn;
  height: $btnHeight--m;
  line-height: $btnHeight--m;
  padding: 0 $btnPadding--m;
  font-size: 14px;
  @extend .round-1;
}

.btn--s {
  @extend %btn;
  height: $btnHeight--s;
  line-height: $btnHeight--s;
  padding: 0 $btnPadding--s;
  font-size: 12px;
  @extend .round-1;
}

// Button styles
// -------------------------

.btn--flat {
  background: $accent;
  color: #fff;
  border: 0;
  &:hover {
    background: darken($accent, 10%);
  }
}

.btn--hollow {
  background: none;
  color: $accent;
  border: 2px solid;
  border-color: $accent;
  &:hover {
    border-color: darken($accent, 10%);
    color: darken($accent, 10%);
  }
}