//
// Buttons
// -------------------------

// To make a button, apply a size class to a link element.
// Then define your visual style in a different class
// and apply that. The functional CSS will get added
// via a sass placeholder. Any skin styles like color,
// background color or border color should be defined in
// a separate theme.scss file.

// user-select is not supported in Opera or > IE10. We can
// use the unselectable HTML attribute to get around this:
// <button unselectable="on"></button>

// Variables
// -------------------------

$btnHeight--xl: 52px;
$btnHeight--l: 40px;
$btnHeight--m: 34px;
$btnHeight--s: 26px;

$btnPadding--xl: 24px;
$btnPadding--l: 16px;
$btnPadding--m: 10px;
$btnPadding--s: 8px;

// Functionality
// -------------------------

%btn {
  @extend .display--inlineBlock;
  @extend .td--none;
  @extend .os--none;
  @extend .fw--5;
  @extend .va--middle;
  @extend .us--none;
  @extend .ws--nowrap;
  @extend .appearance--none;
  @extend .cursor--pointer;
}

// Button sizes
// -------------------------

.btn--xl {
  @extend %btn;
  height: $btnHeight--xl;
  padding: 0 $btnPadding--xl;
  @extend .fs--m;
  line-height: $btnHeight--xl;
  @extend .br--m;
}

.btn--l {
  @extend %btn;
  height: $btnHeight--l;
  padding: 0 $btnPadding--l;
  @extend .fs--s;
  line-height: $btnHeight--l;
  @extend .br--m;
}

.btn--m {
  @extend %btn;
  height: $btnHeight--m;
  padding: 0 $btnPadding--m;
  @extend .fs--Xs;
  line-height: $btnHeight--m - 2;
  @extend .br--m;
}

.btn--s {
  @extend %btn;
  height: $btnHeight--s;
  padding: 0 $btnPadding--s;
  @extend .fs--Xxs;
  line-height: $btnHeight--s;
  @extend .br--s;
}

// Button styles
// -------------------------

.btn--flat {
  @extend .bg-brand--1;
  @extend .c-white;
  border: 0;
  &:hover {
    background: darken($brand-1, 1%);
  }
}