//
// Input
// -------------------------

%input {
  @extend .va-middle;
  @extend .os-none;
  @extend .bw-1;
  @extend .bs-solid;
  @extend .bc-bevelInverse;
  @extend .br-s;
}
%input:focus {
  border-color: darken($gray-3, 20%);
  @extend .boxShadow-deboss;
}

// Input sizes
// -------------------------

.input--l {
  @extend %input;
  padding: 9px;
  @extend .fs-s;
}

.input--m {
  @extend %input;
  padding: 8px;
  @extend .fs-xs;
}

.input--s {
  @extend %input;
  padding: 6px;
  @extend .fs-xxs;
}

// Native placeholder
// -------------------------

::-webkit-input-placeholder {
  line-height: normal;
  @extend .c-gray--3;
}

::-moz-input-placeholder {
  line-height: normal;
  @extend .c-gray--3;
}