//
// Links
// -------------------------

// Apply global link styles
// -------------------------

a,
a:active,
a:visited {
  @extend .c-link;
  @extend .td-none;
}
a:hover {
  @extend .td-underline;
}

// Link styles
// -------------------------

.link--dark,
.link--dark:visited {
  @extend .c-gray--1;
}

.link--light,
.link--light:active,
.link--light:visited {
  @extend .c-gray--2;
}

.link--lighter,
.link--lighter:active,
.link--lighter:visited {
  @extend .c-gray--3;
}

.link--grow,
.link--grow:active,
.link--grow:visited {
  @extend .c-gray--2;
  transition: all .05s linear;
  transform-origin: left center;
  -webkit-transform: translate3d(0,0,0);
}
.link--grow:hover {
  -webkit-transform: scale(1.04);
  @extend .td-none;
}