//
// Textarea
// -------------------------

// Functional CSS
// -------------------------

%textarea {
  @extend display--inlineBlock;
  @extend va--middle;
  @extend os--none;
  @extend appearance--none;
  @extend fw--4;
  @extend width--100;
}


// Component sizes
// -------------------------

.textarea--m {
  min-height: 160px;
  max-height: 400px;
}

.textarea--s {
  min-height: 100px;
  max-height: 200px;
}