//
// Text Input
// -------------------------

// Variables
// -------------------------

$inputMargin: 5px;
$inputPadding--M: 10px;
$inputPadding--S: 6px;

// Functional CSS
// -------------------------

%textInput {
  @extend .o-display--inlineBlock;
  @extend .o-va--middle;
  @extend .o-os--none;
  @extend .o-appearance--none;
  @extend .o-fw--4;
  @extend .o-width--100;
}


// Component ancestors
// -------------------------

.textInput-wrap {
  @extend .o-position--relative;
  @extend .u-cf;
}


// Component sizes
// -------------------------

.textInput--m {
  @extend %textInput;
  padding: $inputPadding--M;
  @extend .o-fs--Xs;
  border-radius: 2px;
}

.textInput--s {
  @extend %textInput;
  padding: $inputPadding--S;
  @extend .o-fs--Xs;
  border-radius: 2px;
}


// Component styling
// -------------------------

.textInput--default {
  @extend .bg--white;
  border: 1px solid;
  border-color: darken(#dbdbdf, 18%) darken(#dbdbdf, 14%) darken(#dbdbdf, 10%);
  &:focus {
    border-color: darken(#dbdbdf, 22%) darken(#dbdbdf, 18%) darken(#dbdbdf, 14%);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.06);
  }
}

.textInput--iconLeft {
  padding-left: 32px;
}

.textInput--iconRight {
  padding-right: 28px;
}


// Component elements
// -------------------------

.textInput-group {
  @extend .u-cf;
  margin-bottom: 16px;
}

.textInput-label {
  @extend .o-clear--both;
  @extend .o-display--inlineBlock;
  @extend .o-fw--5;
  @extend .o-fs--Xs;
  line-height: 1;
  margin-bottom: $inputMargin;
  @extend .o-va--bottom;
}

.textInput-hint {
  @extend .o-display--inlineBlock;
  @extend .o-fs--Xxs;
  line-height: 1;
  @extend .o-va--top;
  margin-top: $inputMargin;
  color: #999;
}

.checkbox-hint {
  @extend .o-display--inlineBlock;
  @extend .o-fs--Xxs;
  line-height: 1.4;
  @extend .o-va--top;
  color: #999;
  padding-left: 27px;
}

// 1. This centers the element in the input.
//    It is half the height of the input minus
//    its own height.

.textInput-icon {
  @extend .o-position--absolute;
  top: 0;
  padding: 8px;
  color: #999;
}


::-webkit-input-placeholder {
  color: #999;
}

::-moz-placeholder {
  color: #999;
}