//
// Typography
// -------------------------

// Variables
// -------------------------

$fontFamily--base: "proxima nova", "Helvetica Neue", arial, sans-serif;
$fontFamily--code: "source code pro", Menlo, Monaco, Consolas, "Courier New", monospace;

$baseFontSize: 16px;
$baseLineHeight: 1.6;

// Reset
// -------------------------

h1,h2,h3,h4,h5,h6 {
  font-size: 100%;
  margin: 0;
  @extend .o-fw--4;
  line-height: 1;
}

// Sizing
// -------------------------

html {
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
}

// Base styles
// -------------------------

body,html,input,button,textarea,select {
  font-family: $fontFamily--base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: $brand-1;
}