//
// Variables
// -------------------------

// Media query breakpoints
// -------------------------

$bp1: 320px;
$bp2: 680px;
$bp3: 1180px;
$bp4: 1500px;
$bp5: 2000px;
$bp6: 3000px;

// Spacing
// -------------------------

$offCanvas: -99999px;