/* Background color */

.bc-white               { background-color: var(--white); }
.bc-black               { background-color: var(--black); }
.bc-transparent         { background-color: var(--transparent); }

.bc-red                 { background-color: var(--red); }
.bc-pink                { background-color: var(--pink); }
.bc-purple              { background-color: var(--purple); }
.bc-indigo              { background-color: var(--indigo); }
.bc-blue                { background-color: var(--blue); }
.bc-cyan                { background-color: var(--cyan); }
.bc-teal                { background-color: var(--teal); }
.bc-green               { background-color: var(--green); }
.bc-lime                { background-color: var(--lime); }
.bc-yellow              { background-color: var(--yellow); }
.bc-amber               { background-color: var(--amber); }
.bc-orange              { background-color: var(--orange); }
.bc-brown               { background-color: var(--brown); }
.bc-gray                { background-color: var(--gray); }

.bc-snow                { background-color: var(--snow); }
.bc-smoke               { background-color: var(--smoke); }
.bc-steel               { background-color: var(--steel); }
.bc-lead                { background-color: var(--lead); }
.bc-charcoal            { background-color: var(--charcoal); }

/* Hover states */
@media screen and (min-width: 48px) {
    .bc-white--hover:hover               { background-color: var(--white); }
    .bc-black--hover:hover               { background-color: var(--black); }
    .bc-transparent--hover:hover         { background-color: var(--transparent); }

    .bc-red--hover:hover                 { background-color: var(--red); }
    .bc-pink--hover:hover                { background-color: var(--pink); }
    .bc-purple--hover:hover              { background-color: var(--purple); }
    .bc-indigo--hover:hover              { background-color: var(--indigo); }
    .bc-blue--hover:hover                { background-color: var(--blue); }
    .bc-cyan--hover:hover                { background-color: var(--cyan); }
    .bc-teal--hover:hover                { background-color: var(--teal); }
    .bc-green--hover:hover               { background-color: var(--green); }
    .bc-lime--hover:hover                { background-color: var(--lime); }
    .bc-yellow--hover:hover              { background-color: var(--yellow); }
    .bc-amber--hover:hover               { background-color: var(--amber); }
    .bc-orange--hover:hover              { background-color: var(--orange); }
    .bc-brown--hover:hover               { background-color: var(--brown); }
    .bc-gray--hover:hover                { background-color: var(--gray); }

    .bc-snow--hover:hover                { background-color: var(--snow); }
    .bc-smoke--hover:hover               { background-color: var(--smoke); }
    .bc-steel--hover:hover               { background-color: var(--steel); }
    .bc-lead--hover:hover                { background-color: var(--lead); }
    .bc-charcoal--hover:hover            { background-color: var(--charcoal); }
}
