/* Grid */

/* Column widths */

.col-1              { max-width: 8.3333333333%; flex-basis: 8.3333333333%; }
.col-2              { max-width: 16.6666666666%; flex-basis: 16.6666666666%; }
.col-3              { max-width: 25%; flex-basis: 25%; }
.col-4              { max-width: 33.3333333333%; flex-basis: 33.3333333333%; }
.col-5              { max-width: 41.6666666666%; flex-basis: 41.6666666666%; }
.col-6              { max-width: 50%; flex-basis: 50%; }
.col-7              { max-width: 58.3333333333%; flex-basis: 58.3333333333%; }
.col-8              { max-width: 66.6666666666%; flex-basis: 66.6666666666%; }
.col-9              { max-width: 75%; flex-basis: 75%; }
.col-10             { max-width: 83.3333333333%; flex-basis: 83.3333333333%; }
.col-11             { max-width: 91.6666666666%; flex-basis: 91.6666666666%; }
.col-12             { max-width: 100%; flex-basis: 100%; }

@media (--breakpoint-s) {
    .bps-col-1      { max-width: 8.3333333333%; flex-basis: 8.3333333333%; }
    .bps-col-2      { max-width: 16.6666666666%; flex-basis: 16.6666666666%; }
    .bps-col-3      { max-width: 25%; flex-basis: 25%; }
    .bps-col-4      { max-width: 33.3333333333%; flex-basis: 33.3333333333%; }
    .bps-col-5      { max-width: 41.6666666666%; flex-basis: 41.6666666666%; }
    .bps-col-6      { max-width: 50%; flex-basis: 50%; }
    .bps-col-7      { max-width: 58.3333333333%; flex-basis: 58.3333333333%; }
    .bps-col-8      { max-width: 66.6666666666%; flex-basis: 66.6666666666%; }
    .bps-col-9      { max-width: 75%; flex-basis: 75%; }
    .bps-col-10     { max-width: 83.3333333333%; flex-basis: 83.3333333333%; }
    .bps-col-11     { max-width: 91.6666666666%; flex-basis: 91.6666666666%; }
    .bps-col-12     { max-width: 100%; flex-basis: 100%; }
}

@media (--breakpoint-m) {
    .bpm-col-1      { max-width: 8.3333333333%; flex-basis: 8.3333333333%; }
    .bpm-col-2      { max-width: 16.6666666666%; flex-basis: 16.6666666666%; }
    .bpm-col-3      { max-width: 25%; flex-basis: 25%; }
    .bpm-col-4      { max-width: 33.3333333333%; flex-basis: 33.3333333333%; }
    .bpm-col-5      { max-width: 41.6666666666%; flex-basis: 41.6666666666%; }
    .bpm-col-6      { max-width: 50%; flex-basis: 50%; }
    .bpm-col-7      { max-width: 58.3333333333%; flex-basis: 58.3333333333%; }
    .bpm-col-8      { max-width: 66.6666666666%; flex-basis: 66.6666666666%; }
    .bpm-col-9      { max-width: 75%; flex-basis: 75%; }
    .bpm-col-10     { max-width: 83.3333333333%; flex-basis: 83.3333333333%; }
    .bpm-col-11     { max-width: 91.6666666666%; flex-basis: 91.6666666666%; }
    .bpm-col-12     { max-width: 100%; flex-basis: 100%; }
}

@media (--breakpoint-l) {
    .bpl-col-1      { max-width: 8.3333333333%; flex-basis: 8.3333333333%; }
    .bpl-col-2      { max-width: 16.6666666666%; flex-basis: 16.6666666666%; }
    .bpl-col-3      { max-width: 25%; flex-basis: 25%; }
    .bpl-col-4      { max-width: 33.3333333333%; flex-basis: 33.3333333333%; }
    .bpl-col-5      { max-width: 41.6666666666%; flex-basis: 41.6666666666%; }
    .bpl-col-6      { max-width: 50%; flex-basis: 50%; }
    .bpl-col-7      { max-width: 58.3333333333%; flex-basis: 58.3333333333%; }
    .bpl-col-8      { max-width: 66.6666666666%; flex-basis: 66.6666666666%; }
    .bpl-col-9      { max-width: 75%; flex-basis: 75%; }
    .bpl-col-10     { max-width: 83.3333333333%; flex-basis: 83.3333333333%; }
    .bpl-col-11     { max-width: 91.6666666666%; flex-basis: 91.6666666666%; }
    .bpl-col-12     { max-width: 100%; flex-basis: 100%; }
}

@media (--breakpoint-xl) {
    .bpxl-col-1     { max-width: 8.3333333333%; flex-basis: 8.3333333333%; }
    .bpxl-col-2     { max-width: 16.6666666666%; flex-basis: 16.6666666666%; }
    .bpxl-col-3     { max-width: 25%; flex-basis: 25%; }
    .bpxl-col-4     { max-width: 33.3333333333%; flex-basis: 33.3333333333%; }
    .bpxl-col-5     { max-width: 41.6666666666%; flex-basis: 41.6666666666%; }
    .bpxl-col-6     { max-width: 50%; flex-basis: 50%; }
    .bpxl-col-7     { max-width: 58.3333333333%; flex-basis: 58.3333333333%; }
    .bpxl-col-8     { max-width: 66.6666666666%; flex-basis: 66.6666666666%; }
    .bpxl-col-9     { max-width: 75%; flex-basis: 75%; }
    .bpxl-col-10    { max-width: 83.3333333333%; flex-basis: 83.3333333333%; }
    .bpxl-col-11    { max-width: 91.6666666666%; flex-basis: 91.6666666666%; }
    .bpxl-col-12    { max-width: 100%; flex-basis: 100%; }
}

/* Functional */

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.bps-col-1,
.bps-col-2,
.bps-col-3,
.bps-col-4,
.bps-col-5,
.bps-col-6,
.bps-col-7,
.bps-col-8,
.bps-col-9,
.bps-col-10,
.bps-col-11,
.bps-col-12,
.bpm-col-1,
.bpm-col-2,
.bpm-col-3,
.bpm-col-4,
.bpm-col-5,
.bpm-col-6,
.bpm-col-7,
.bpm-col-8,
.bpm-col-9,
.bpm-col-10,
.bpm-col-11,
.bpm-col-12,
.bpl-col-1,
.bpl-col-2,
.bpl-col-3,
.bpl-col-4,
.bpl-col-5,
.bpl-col-6,
.bpl-col-7,
.bpl-col-8,
.bpl-col-9,
.bpl-col-10,
.bpl-col-11,
.bpl-col-12,
.bpxl-col-1,
.bpxl-col-2,
.bpxl-col-3,
.bpxl-col-4,
.bpxl-col-5,
.bpxl-col-6,
.bpxl-col-7,
.bpxl-col-8,
.bpxl-col-9,
.bpxl-col-10,
.bpxl-col-11,
.bpxl-col-12, {
    position: relative;
    min-height: 1px;
}
