/* Line height */

.lh-xxxxxl  { line-height: 10.4rem; }
.lh-xxxxl   { line-height: 6.3rem; }
.lh-xxxl    { line-height: 4.8rem; }
.lh-xxl     { line-height: 3.6rem; }
.lh-xl      { line-height: 3.2rem; }
.lh-l       { line-height: 2.8rem; }
.lh-m       { line-height: 2.4rem; }
.lh-s       { line-height: 2rem; }

.lh-UIs       { line-height: var(--UIs); }
.lh-UIm       { line-height: var(--UIm); }
.lh-UIl       { line-height: var(--UIl); }
.lh-UIxl      { line-height: var(--UIxl); }

@media (--breakpoint-s) {
    .bps-lh-xxxxxl  { line-height: 10.4rem; }
    .bps-lh-xxxxl   { line-height: 6.3rem; }
    .bps-lh-xxxl    { line-height: 4.8rem; }
    .bps-lh-xxl     { line-height: 4rem; }
    .bps-lh-xl      { line-height: 3.2rem; }
    .bps-lh-l       { line-height: 2.8rem; }
    .bps-lh-m       { line-height: 2.4rem; }
    .bps-lh-s       { line-height: 2rem; }

    .bps-lh-UIs       { line-height: var(--UIs); }
    .bps-lh-UIm       { line-height: var(--UIm); }
    .bps-lh-UIl       { line-height: var(--UIl); }
    .bps-lh-UIxl      { line-height: var(--UIxl); }
}

@media (--breakpoint-m) {
    .bpm-lh-xxxxxl  { line-height: 10.4rem; }
    .bpm-lh-xxxxl   { line-height: 6.3rem; }
    .bpm-lh-xxxl    { line-height: 4.8rem; }
    .bpm-lh-xxl     { line-height: 4rem; }
    .bpm-lh-xl      { line-height: 3.2rem; }
    .bpm-lh-l       { line-height: 2.8rem; }
    .bpm-lh-m       { line-height: 2.4rem; }
    .bpm-lh-s       { line-height: 2rem; }

    .bpm-lh-UIs       { line-height: var(--UIs); }
    .bpm-lh-UIm       { line-height: var(--UIm); }
    .bpm-lh-UIl       { line-height: var(--UIl); }
    .bpm-lh-UIxl      { line-height: var(--UIxl); }
}

@media (--breakpoint-l) {
    .bpl-lh-xxxxxl  { line-height: 10.4rem; }
    .bpl-lh-xxxxl   { line-height: 6.3rem; }
    .bpl-lh-xxxl    { line-height: 4.8rem; }
    .bpl-lh-xxl     { line-height: 4rem; }
    .bpl-lh-xl      { line-height: 3.2rem; }
    .bpl-lh-l       { line-height: 2.8rem; }
    .bpl-lh-m       { line-height: 2.4rem; }
    .bpl-lh-s       { line-height: 2rem; }

    .bpl-lh-UIs       { line-height: var(--UIs); }
    .bpl-lh-UIm       { line-height: var(--UIm); }
    .bpl-lh-UIl       { line-height: var(--UIl); }
    .bpl-lh-UIxl      { line-height: var(--UIxl); }
}

@media (--breakpoint-xl) {
    .bpxl-lh-xxxxxl  { line-height: 10.4rem; }
    .bpxl-lh-xxxxl   { line-height: 6.3rem; }
    .bpxl-lh-xxxl    { line-height: 4.8rem; }
    .bpxl-lh-xxl     { line-height: 4rem; }
    .bpxl-lh-xl      { line-height: 3.2rem; }
    .bpxl-lh-l       { line-height: 2.8rem; }
    .bpxl-lh-m       { line-height: 2.4rem; }
    .bpxl-lh-s       { line-height: 2rem; }

    .bpxl-lh-UIs       { line-height: var(--UIs); }
    .bpxl-lh-UIm       { line-height: var(--UIm); }
    .bpxl-lh-UIl       { line-height: var(--UIl); }
    .bpxl-lh-UIxl      { line-height: var(--UIxl); }
}
