/* Text Transform */

.tt-none        { text-transform: none; }
.tt-capitalize  { text-transform: capitalize; }
.tt-uppercase   { text-transform: uppercase; }
.tt-lowercase   { text-transform: lowercase; }

@include bp(s) {
  .bps-tt-none        { text-transform: none; }
  .bps-tt-capitalize  { text-transform: capitalize; }
  .bps-tt-uppercase   { text-transform: uppercase; }
  .bps-tt-lowercase   { text-transform: lowercase; }
}

@include bp(m) {
  .bpm-tt-none        { text-transform: none; }
  .bpm-tt-capitalize  { text-transform: capitalize; }
  .bpm-tt-uppercase   { text-transform: uppercase; }
  .bpm-tt-lowercase   { text-transform: lowercase; }
}

@include bp(l) {
  .bpl-tt-none        { text-transform: none; }
  .bpl-tt-capitalize  { text-transform: capitalize; }
  .bpl-tt-uppercase   { text-transform: uppercase; }
  .bpl-tt-lowercase   { text-transform: lowercase; }
}
