/* Text Rendering */

.tr-auto                { text-rendering: auto; }
.tr-optimizeSpeed       { text-rendering: optimizeSpeed; }
.tr-optimizeLegibility  { text-rendering: optimizeLegibility; }
.tr-geometricPrecision  { text-rendering: geometricPrecision; }
