/* User Select */

@custom-media --breakpoint-s (min-width: 24em);
@custom-media --breakpoint-m (min-width: 34em);
@custom-media --breakpoint-l (min-width: 48em);
@custom-media --breakpoint-xl (min-width: 64em);

.us-none  { user-select: none; }
.us-none  { user-select: auto; }
.us-none  { user-select: text; }
.us-none  { user-select: contain; }
.us-none  { user-select: all; }

@media (--breakpoint-s) {
    .bps-us-none  { user-select: none; }
    .bps-us-none  { user-select: auto; }
    .bps-us-none  { user-select: text; }
    .bps-us-none  { user-select: contain; }
    .bps-us-none  { user-select: all; }
}

@media (--breakpoint-m) {
    .bpm-us-none  { user-select: none; }
    .bpm-us-none  { user-select: auto; }
    .bpm-us-none  { user-select: text; }
    .bpm-us-none  { user-select: contain; }
    .bpm-us-none  { user-select: all; }
}

@media (--breakpoint-l) {
    .bpl-us-none  { user-select: none; }
    .bpl-us-none  { user-select: auto; }
    .bpl-us-none  { user-select: text; }
    .bpl-us-none  { user-select: contain; }
    .bpl-us-none  { user-select: all; }
}
