/* Variables */

:root {

    /* Media queries */

    @custom-media --breakpoint-s (min-width: 48em);
    @custom-media --breakpoint-m (min-width: 96em);
    @custom-media --breakpoint-l (min-width: 184em);
    @custom-media --breakpoint-xl (min-width: 220em);

    /* Color scheme */

    --black: #000;
    --white: #fff;
    --transparent: transparent;

    --translucent: .98;
    --transparent: .8;
    --pellucid: .2;
    --limpid: .05;

    --red: #F44336;
    --pink: #E91E63;
    --purple: #673AB7;
    --indigo: #3F51B5;
    --blue: #2196F3;
    --cyan: #00BCD4;
    --teal: #009688;
    --green: #4CAF50;
    --lime: #CDDC39;
    --yellow: #FFEB3B;
    --amber: #FFC107;
    --orange: #FF9800;
    --brown: #795548;

    --gray: #9E9E9E;

    --snow: #ECEFF1;
    --smoke: #B0BEC5;
    --steel: #607D8B;
    --lead: #37474F;
    --charcoal: #192124;

    /* Spacing  */

    /* Font size  */

    /* Line height  */
}
