/* Variables */

:root {

    /* Media queries */

    @custom-media --breakpoint-s (min-width: 38em);
    @custom-media --breakpoint-m (min-width: 68em);
    @custom-media --breakpoint-l (min-width: 96em);
    @custom-media --breakpoint-xl (min-width: 120em);

    /* Color scheme */

    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    --transparent: transparent;

    --opaque: .98;
    --translucent: .8;
    --transparent: .5;
    --pellucid: .15;
    --limpid: .05;

    --red: #F44336;
    --pink: #E91E63;
    --purple: #9C27B0;
    --deepPurple: #673AB7;
    --indigo: #3F51B5;
    --blue: #2196F3;
    --lightBlue: #03A9F4;
    --cyan: #00BCD4;
    --teal: #009688;
    --green: #4CAF50;
    --lightGreen: #8BC34A;
    --lime: #CDDC39;
    --yellow: #FFEB3B;
    --amber: #FFC107;
    --orange: #FF9800;
    --deepOrange: #FF5722;
    --brown: #795548;

    --pinkTint: hsl(340, 80%, 94%);
    --blueTint: hsl(205, 87%, 94%);
    --tealTint: hsl(177, 41%, 91%);
    --amberTint: hsl(46, 100%, 94%);

    --redBright: hsl(348, 100%, 55%);
    --purpleBright: hsl(291, 100%, 49%);
    --blueBright: hsl(218, 100%, 58%);
    --tealBright: hsl(165, 82%, 51%);

    --gray: hsl(0, 0%, 62%);

    --pearl: hsl(208, 32%, 99%);
    --snow: hsl(208, 32%, 96%);
    --smoke: hsl(208, 28%, 92%);
    --silver: hsl(208, 20%, 85%);
    --steel: hsl(208, 20%, 50%);
    --charcoal: hsl(208, 20%, 12%);
    --lead: hsl(208, 20%, 10%);

    /* Font sizes  */

    --fs-xs: 1.2rem;
    --fs-s: 1.4rem;
    --fs-m: 1.6rem;
    --fs-l: 2rem;
    --fs-xl: 2.6rem;
    --fs-xxl: 4.2rem;
    --fs-xxxl: 5.2rem;
    --fs-xxxxl: 10rem;

    /* Spacing  */

    --spacing-none: 0;
    --spacing-xxxs: .4rem;
    --spacing-xxs: .8rem;
    --spacing-xs: 1.2rem;
    --spacing-s: 2.4rem;
    --spacing-m: 3.2rem;
    --spacing-l: 4rem;
    --spacing-xl: 4.8rem;
    --spacing-xxl: 6.4rem;
    --spacing-xxxl: 8rem;

    /* Durations  */

    --duration-none: 0;
    --duration-xl: 1000ms;
    --duration-l: 400ms;
    --duration-m: 200ms;
    --duration-s: 100ms;
    --duration-xs: 50ms;
}
