/* Variables */

:root {

    /* Media queries */

    @custom-media --breakpoint-s (min-width: 38em);
    @custom-media --breakpoint-m (min-width: 68em);
    @custom-media --breakpoint-l (min-width: 96em);
    @custom-media --breakpoint-xl (min-width: 120em);

    /* Color scheme */

    --black: #000;
    --white: #fff;
    --transparent: transparent;

    --translucent: .98;
    --transparent: .5;
    --pellucid: .2;
    --limpid: .05;

    --red: #F44336;
    --pink: #E91E63;
    --purple: #673AB7;
    --indigo: #3F51B5;
    --blue: #2196F3;
    --cyan: #00BCD4;
    --teal: #009688;
    --green: #4CAF50;
    --lime: #CDDC39;
    --yellow: #FFEB3B;
    --amber: #FFC107;
    --orange: #FF9800;
    --brown: #795548;

    --gray: #9E9E9E;

    --snow: #ECEFF1;
    --smoke: #B0BEC5;
    --steel: #8d9da5;
    --lead: #37474F;
    --charcoal: #111618;

    /* Spacing  */

    --spacing-none: 0;
    --spacing-xxs: .5rem;
    --spacing-xs: 1rem;
    --spacing-s: 1.5rem;
    --spacing-m: 2rem;
    --spacing-l: 4rem;
    --spacing-xl: 8rem;
    --spacing-xxl: 10.2rem;

    /* Dimensions  */

    --UIs: 30px;
    --UIm: 40px;
    --UIl: 50px;
    --UIxl: 60px;
}
