/* Variables */

:root {

    /* Media queries */

    @custom-media --breakpoint-s (min-width: 38em);
    @custom-media --breakpoint-m (min-width: 68em);
    @custom-media --breakpoint-l (min-width: 96em);
    @custom-media --breakpoint-xl (min-width: 120em);

    /* Color scheme */

    --black: #000;
    --white: #fff;
    --transparent: transparent;

    --translucent: .98;
    --transparent: .5;
    --pellucid: .2;
    --limpid: .05;

    --red: #F44336;
    --pink: #E91E63;
    --purple: #9C27B0;
    --deepPurple: #673AB7;
    --indigo: #3F51B5;
    --blue: #2196F3;
    --lightBlue: #03A9F4;
    --cyan: #00BCD4;
    --teal: #009688;
    --green: #4CAF50;
    --lightGreen: #8BC34A;
    --lime: #CDDC39;
    --yellow: #FFEB3B;
    --amber: #FFC107;
    --orange: #FF9800;
    --deepOrange: #FF5722;
    --brown: #795548;

    --pinkTint: #FCE4EC;
    --blueTint: #E3F2FD;
    --tealTint: #E0F2F1;
    --amberTint: #FFF8E1;

    --redBright: #FF1744;
    --purpleBright: #D500F9;
    --blueBright: #2979FF;
    --tealBright: #1DE9B6;

    --gray: #9E9E9E;

    --pearl: #fcfdfd;
    --snow: #eceff1;
    --smoke: #90a4ae;
    --steel: #607d8b;
    --lead: #151b1e;
    --charcoal: #192124;

    /* Font sizes  */

    --fs-xs: 1.2rem;
    --fs-s: 1.4rem;
    --fs-m: 1.6rem;
    --fs-l: 2rem;
    --fs-xl: 2.6rem;
    --fs-xxl: 4.2rem;
    --fs-xxxl: 5.2rem;
    --fs-xxxxl: 10rem;

    /* Spacing  */

    --spacing-none: 0;
    --spacing-xxs: .5rem;
    --spacing-xs: 1rem;
    --spacing-s: 1.5rem;
    --spacing-m: 2rem;
    --spacing-l: 4rem;
    --spacing-xl: 8rem;
    --spacing-xxl: 10.2rem;

    /* Dimensions  */

    --UIs: 30px;
    --UIm: 40px;
    --UIl: 50px;
    --UIxl: 60px;

    /* Durations  */

    --duration-none: 0;
    --duration-xl: 1000ms;
    --duration-l: 500ms;
    --duration-m: 300ms;
    --duration-s: 100ms;
    --duration-xs: 50ms;
}
