//
// Outline Style
// -------------

.os-none     { outline-style: none; }
.os-dotted   { outline-style: dotted; }
.os-dashed   { outline-style: dashed; }
.os-solid    { outline-style: solid; }
.os-double   { outline-style: double; }
.os-groove   { outline-style: groove; }
.os-ridge    { outline-style: ridge; }
.os-inset    { outline-style: inset; }
.os-outset   { outline-style: outset; }
.os-inherit  { outline-style: inherit; }