//
// Position
// -------------

// 1. Promote fixed elements into a new layer for performance.

.position-fixed    { position: fixed; backface-visibility: hidden; /* 1 */ }
.position-absolute { position: absolute; }
.position-relative { position: relative; }
.position-static   { position: static; }
.position-inherit  { position: inherit; }