//
// Text Decoration
// -------------------------

.td--none         { text-decoration: none; }
.td--underline    { text-decoration: underline; }
.td--overline     { text-decoration: overline; }
.td--lineThrough  { text-decoration: line-through; }
.td--inherit      { text-decoration: inherit; }