//
// Text Rendering
// -------------

.tr-auto       { text-rendering: auto; }
.tr-speed      { text-rendering: optimizeSpeed; }
.tr-legibility { text-rendering: optimizeLegibility; }
.tr-precision  { text-rendering: geometricPrecision; }
.tr-inherit    { text-rendering: inherit; }