//
// Text Align
// -------------

.ta-left     { text-align: left; }
.ta-center   { text-align: center; }
.ta-right    { text-align: right; }
.ta-inherit  { text-align: inherit; }

@include bp(s) {
  .bps-ta-left     { text-align: left; }
  .bps-ta-center   { text-align: center; }
  .bps-ta-right    { text-align: right; }
  .bps-ta-inherit  { text-align: inherit; }
}

@include bp(m) {
  .bpm-ta-left     { text-align: left; }
  .bpm-ta-center   { text-align: center; }
  .bpm-ta-right    { text-align: right; }
  .bpm-ta-inherit  { text-align: inherit; }
}

@include bp(l) {
  .bpl-ta-left     { text-align: left; }
  .bpl-ta-center   { text-align: center; }
  .bpl-ta-right    { text-align: right; }
  .bpl-ta-inherit  { text-align: inherit; }
}