//
// Visibility
// -------------

.visibility-hidden    { visibility: hidden; }
.visibility-visible   { visibility: visible; }
.visibility-collapse  { visibility: collapse; }

@include bp(s) {
  .bps-visibility-hidden    { visibility: hidden; }
  .bps-visibility-visible   { visibility: visible; }
  .bps-visibility-collapse  { visibility: collapse; }
}

@include bp(m) {
  .bpm-visibility-hidden    { visibility: hidden; }
  .bpm-visibility-visible   { visibility: visible; }
  .bpm-visibility-collapse  { visibility: collapse; }
}

@include bp(l) {
  .bpl-visibility-hidden    { visibility: hidden; }
  .bpl-visibility-visible   { visibility: visible; }
  .bpl-visibility-collapse  { visibility: collapse; }
}