//
// White Space
// -------------

.ws-normal  { white-space: normal; }
.ws-nowrap  { white-space: nowrap; }
.ws-pre     { white-space: pre; }
.ws-preLine { white-space: pre-line; }
.ws-preWrap { white-space: pre-wrap; }
.ws-inherit { white-space: inherit; }
